li.image-item:hover div.extension-button {
    display: block;
}

li.image-item div.extension-button {
    z-index: 2;
    position: absolute;
    display: none;
    opacity: 0.8;
    top: 0;
    left: 13px;
}

nav.column-order-menu span.ext_button {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 7px;
    margin-right: 7px;
}

ul.column-order-menu span.ext_button {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 7px;
    margin-right: 7px;
}
