li.image-item:hover div.extension-button {
    display: block;
}

li.image-item div.extension-button {
    z-index: 2;
    position: absolute;
    display: none;
    opacity: 0.8;
    top: 0;
    left: 13px;
}
