div._layout-thumbnail:hover div.extension-button {
    display: block;
}
div._layout-thumbnail div.extension-button {
    position: absolute;
    display: none;
}
div._layout-thumbnail div.extension-button {
	opacity: 0.8;
    top: 0;
    left: 0;
}